## Исследовательская часть проекта

### Подготовка данные о видах экономической деятельности

#### Скачиваем файл xlsx с данными о статистике номинальной среднемесячной заработной плате по видам экономической деятельности с сайта Федеральной службы статистики

In [128]:
!wget 'https://rosstat.gov.ru/storage/mediabank/tab3-zpl_2023.xlsx'

--2024-04-02 09:07:36--  https://rosstat.gov.ru/storage/mediabank/tab3-zpl_2023.xlsx
Resolving rosstat.gov.ru (rosstat.gov.ru)... 194.226.89.60
Connecting to rosstat.gov.ru (rosstat.gov.ru)|194.226.89.60|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 43099 (42K) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘tab3-zpl_2023.xlsx.1’

tab3-zpl_2023.xlsx. 100%[===================>]  42.09K  43.8KB/s    in 1.0s

2024-04-02 09:07:39 (43.8 KB/s) - ‘tab3-zpl_2023.xlsx.1’ saved [43099/43099]

#### Статистические данные записаны на 2 листах, исторические по старым кодам с 2000 по 2016 год на странице "2000-2016 гг.", новые с 2017 года на странице "с 2017 г." Предобработаем данные из обоих листов и соединим их

In [114]:
import pandas as pd
df_2016 = pd.read_excel("tab3-zpl_2023.xlsx", sheet_name='2000-2016 гг.', index_col = None)[2:] # первые строки не несут информации для нас
column_list = ['Вид деятельности', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']

# словарь для переименования колонок формируется из названий колонок старого df column_list по идексам
rename_dict = {df_2016.columns[column_index]: column_list[column_index] for column_index in range(len(df_2016.columns))}
df_2016.rename(columns=rename_dict, inplace=True)
# Колонка вид деятельности очищается от регистрозависимости и пробелов
df_2016['Вид деятельности'] = df_2016['Вид деятельности'].str.lower().str.strip()
df_2016

,Вид деятельности,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
2,всего по экономике,2223.4,3240.4,4360.3,5498.5,6739.5,8554.9,10633.9,13593.4,17290.1,18637.5,20952.2,23369.2,26628.9,29792.0,32495.0,34030.0,36709.0
3,"сельское хозяйство, охота и лесное хозяйство",985.1,1434.6,1876.4,2339.8,3015.4,3646.2,4568.7,6143.8,8474.8,9619.2,10668.1,12464.0,14129.4,15724.0,17724.0,19721.0,21755.0
4,"рыболовство, рыбоводство",2845.6,3839.3,5031.3,5444.5,7084.9,10233.5,12310.8,14797.0,19498.9,22913.5,23781.9,25939.9,29201.4,32437.3,37062.0,46676.0,54927.0
5,добыча полезных ископаемых,5940.2,9099.2,11080.9,13912.4,16841.7,19726.9,23145.2,28107.5,33206.1,35363.4,39895,45132.0,50400.6,54161.2,58959.0,63695.0,69936.0
6,из нее:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,добыча топливно-энергетических полезных ископ...,6985.1,10905.4,13080.3,16135.5,19903.3,23455.9,27614.5,33275.5,39051.3,41568.3,46271.2,51587.9,57209.7,61084.1,66780.0,71418.0,77586.0
8,"добыча полезных ископаемых, кроме топливно-эн...",3999.5,5386.5,7035.0,9395.7,10876.6,13176.0,15363.7,19092.7,22937.4,24064.1,28305.8,33580.1,38267.3,41754.4,44441.0,48724.0,54513.0
9,обрабатывающие производства,2365.2,3446.6,4439.1,5603.4,6848.9,8420.9,10198.5,12878.7,16049.9,16583.1,19078,21780.8,24511.7,27044.5,29511.0,31910.0,34592.0
10,из них:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"производство пищевых продуктов, включая напи...",2183.4,3126.7,4065.9,5026.7,6065.8,7303.8,8806.7,11069.2,13930.4,15653.1,17316.9,19094.0,21104.8,23326.9,25081.0,26793.0,28779.0
12,текстильное и швейное производство,1214.8,1764.8,2241.7,2803.0,3356.5,3986.0,4964.3,6589.5,8453.6,9020.5,10302.1,11004.4,12095.4,13488.5,14453.0,15758.0,17065.0
13,"производство кожи, изделий из кожи и произво...",1347.8,1986.1,2621.1,3230.0,3774.7,4695.3,5649.1,7537.0,9522.3,10073.2,11345.8,12350.9,13135.7,14725.1,16119.0,17796.0,19847.0
14,обработка древесины и производство изделий из ...,1739.1,2310.3,2980.2,3754.8,4614.6,5895.4,6950.4,8815.6,11301.1,10947.2,12720.4,13941.9,15248.3,16949.7,18628.0,20365.0,22383.0
15,целлюлозно-бумажное производство; издательская...,2736.6,4309.0,5480.2,6848.4,7892.0,9418.6,10923.6,13792.0,17631.7,17707.1,20104.3,23710.2,26311.6,28504.9,29222.0,30148.0,32399.0
16,производство кокса и нефтепродуктов,4916.3,7012.4,9625.3,11879.0,13729.3,19397.1,22319.6,28565.0,34912.5,37963.7,41563.4,48462.6,59195.0,64760.1,75517.0,81605.0,88194.0
17,химическое производство,2754.6,3901.8,4899.5,6154.8,7682.7,9928.3,11599.3,14615.9,18219.9,19428.7,22228.7,25582.7,28900.5,32513.5,36218.0,39342.0,43318.0
18,производство резиновых и пластмассовых изделий,2140.4,3032.2,3957.1,4950.7,5956.8,6879.2,8767.7,11082.6,13464.0,13850.6,15766.4,17713.3,19758.3,21599.3,23270.0,25006.0,27565.0
19,производство прочих неметаллических минеральны...,2182.0,3220.0,4134.2,5207.8,6422.4,7921.8,9983.8,13193.3,16371.8,16053.7,18117.5,20518.0,23180.4,25458.3,27335.0,28051.0,28909.0
20,металлургическое производство и производство ...,3854.9,5242.4,6285.2,7731.2,9196.8,10260.7,12001.5,14990.7,18171.1,17946.3,21152.1,23887.1,26564.2,28519.8,30437.0,33059.0,35310.0
21,производство машин и оборудования,1975.3,3073.5,4066.6,5169.7,6514.2,8379.8,10418.0,13479.8,16940.0,17009.6,20102.5,22777.9,25671.0,28230.7,30268.0,32246.0,35469.0
22,"производство электрооборудования, электронного...",2003.6,2998.8,3815.7,5108.5,6431.7,8218.8,10289.8,13114.4,16608.9,17360.4,20177.8,23375.3,26353.8,29354.1,32779.0,36765.0,39998.0
23,производство транспортных средств и оборудования,2454.1,3664.6,5099.9,6365.0,7828.0,9377.4,11431.2,14013.6,17330.9,17367.8,20766.4,24503.1,27659.5,30724.4,33736.0,36139.0,39603.0
24,прочие производства,2053.2,2738.2,3279.3,4045.2,5182.0,6386.8,8278.0,10114.1,12593.4,12543.1,13674.2,15573.3,17146.0,18736.3,19711.0,21533.0,21941.0
25,"производство и распределение электроэнергии, г...",3156.5,4434.8,5869.4,7235.3,8641.8,10637.3,12827.5,15587.3,19057.4,21554.2,24156.4,26965.5,29437.1,32230.5,34808.0,36865.0,39629.0
26,строительство,2639.8,3859.3,4806.9,6176.7,7304.7,9042.8,10869.2,14333.4,18574.0,18122.2,21171.7,23682.0,25950.6,27701.4,29354.0,29960.0,32332.0
27,оптовая и розничная торговля; ремонт автотранс...,1584.5,2294.9,3068.9,3974.2,4906.2,6552.1,8234.9,11476.3,14927.4,15958.6,18405.9,19613.2,21633.8,23167.8,25601.0,26947.0,30030.0
28,гостиницы и рестораны,1640.0,2403.6,3039.3,3966.7,4737.3,6033.4,7521.7,9339.0,11536.2,12469.6,13465.8,14692.5,16631.1,18304.4,19759.0,20626.0,22041.0
29,транспорт и связь,3220.2,4304.2,5851.5,7471.3,9319.9,11351.1,13389.9,16452.3,20760.8,22400.5,25589.9,28608.5,31444.1,34575.7,37011.0,38982.0,41510.0
30,из них связь,2879.2,4131.2,5661.5,7304.2,8974.2,11389.1,13220.3,16042.6,19918.1,20923.1,24275,26995.0,28700.9,31346.4,33705.0,34958.0,37984.0
31,финансовая деятельность,5232.2,8885.2,13245.9,15561.2,17383.8,22463.5,27885.5,34879.8,41871.8,42372.9,50120,55788.9,58999.2,63333.0,68565.0,70088.0,80289.0
32,"операции с недвижимым имуществом, аренда и пре...",2456.7,3545.6,4677.1,6196.3,7795.4,10236.8,12763.2,16641.6,21275.0,22609.7,25623.4,28239.3,30925.8,33846.3,37559.0,39815.0,43737.0
33,государственное управление и обеспечение военн...,2712.1,3754.9,5200.4,6913.8,7898.6,10958.5,13477.3,16896.3,21344.1,23960.0,25120.8,27755.5,35701.4,40448.7,42659.0,41916.0,43611.0
34,образование,1240.2,1833.0,2927.3,3386.6,4203.4,5429.7,6983.3,8778.3,11316.8,13293.6,14075.2,15809.1,18995.3,23457.9,25862.0,26928.0,28088.0
35,здравоохранение и предоставление социальных услуг,1333.3,1959.9,3141.3,3662.6,4612.0,5905.6,8059.9,10036.6,13048.6,14819.5,15723.8,17544.5,20640.7,24438.6,27068.0,28179.0,29742.0
36,"предоставление прочих коммунальных, социальных...",1548.0,2311.7,3183.1,3920.3,4822.7,6291.0,7996.4,10392.2,13538.6,15070.0,16371.4,18200.3,20984.5,24739.9,27876.0,30072.0,32197.0
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,примечание: с 2015 года данные с учетом респу...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
# Подготовка датафрейма с новым данными
df_2017 = pd.read_excel("tab3-zpl_2023.xlsx", sheet_name='с 2017 г.')[4:]
rename_dict = {'Unnamed: 0': 'Вид деятельности'}
# длина выгрузки может меняться в будущем, такой способ более универсален
years = (2017, 2017+len(df_2017.columns)-2)

# Дополняем словарь с названием колонок через увеличение года на индекс колонки
[rename_dict.update({df_2017.columns[x]: f"{2016+x}"}) for x in range(1, len(df_2017.columns))]
df_2017.rename(columns=rename_dict, inplace=True)
# Колонка вид деятельности очищается от регистрозависимости и пробелов
df_2017['Вид деятельности'] = df_2017['Вид деятельности'].str.lower().str.strip()
df_2017

,Вид деятельности,2017,2018,2019,2020,2021,2022,2023
4,всего,39167,43724.0,47866.8,51344.0,57243.7,65338.3,73709.3
5,"сельское, лесное хозяйство, охота, рыболовство...",25671.1,28699.0,31727.6,34770.0,39436.8,46777,52868.3
6,в том числе:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"растениеводство и животноводство, охота и пред...",23529.1,25820.0,28395.8,31058.0,35460.2,41993.7,47582.9
8,лесоводство и лесозаготовки,27616.6,32701.0,35426.2,37855.0,42151.8,48327.2,52416.3
9,рыболовство и рыбоводство,68032,75766.0,88603.8,94983.0,101547.4,121726.2,139520
10,добыча полезных ископаемых,74474.1,83178.0,89343.7,95359.0,103473.5,118375.7,130825.6
11,из нее:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,добыча угля,53065,59439.0,63352.8,62600.0,73576.6,90716.5,106102.6
13,добыча нефти и природного газа,104078.3,127771.0,135363.7,142175.0,149585.1,165623.8,180514.7
14,добыча металлических руд,61121.9,70721.0,78519.9,88154.0,96365.2,108316.6,119578.2
15,обрабатывающие производства,38501.5,40722.0,43855.0,46510.0,52409.6,60438.7,71273.3
16,из них:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,производство пищевых продуктов,29920.1,32272.0,35175.0,37589.0,42604.5,48466.9,56502.8
18,производство напитков,37933.7,40305.0,43204.1,45435.0,49861.5,57248.3,66326.5
19,производство табачных изделий,94767.9,100426.0,104081.7,112017.0,108429.9,126445.9,140517.7
20,производство текстильных изделий,22370.6,25179.0,26465.7,30101.0,33857.0,38709.4,44822.1
21,производство одежды,20298.5,19819.0,21065.4,20927.0,24311.7,27351.7,34049.2
22,производство кожи и изделий из кожи,20193,23576.0,25680.3,26913.0,31771.2,36445,44039.1
23,обработка древесины и производство изделий из ...,25656.5,26177.0,29398.9,30864.0,36313.8,40464.4,44434.6
24,производство бумаги и бумажных изделий,39630.7,42755.0,47513.1,52275.0,57976.3,66540.4,73402
25,деятельность полиграфическая и копирование нос...,30898.8,33554.0,34290.7,35708.0,43267.1,52210.1,55609.8
26,производство кокса и нефтепродуктов,95956.7,87591.0,81685.2,82106.0,87214.4,97720.3,109541
27,производство химических веществ и химических п...,45893.8,49159.0,54331.6,57339.0,63701.8,75282.5,87530.8
28,производство лекарственных средств и материало...,54261.5,57644.0,61588.9,71064.0,79568.2,87532.3,98162.4
29,производство резиновых и пластмассовых изделий,30621.8,33581.0,35623.4,39662.0,44817.4,51471,61423.1
30,производство прочей неметаллической минерально...,30904,34301.0,37986.6,40787.0,46264.6,54046.1,62739.1
31,производство металлургическое,49496.4,49982.0,53539.4,56928.0,63232.0,74947.7,85282.6
32,"производство готовых металлических изделий, кр...",35969.9,38431.0,41416.2,44034.0,48425.0,56481.1,69927.6
33,"производство компьютеров, электронных и оптиче...",46928.4,51492.0,53981.9,56672.0,64613.9,74834.5,91219.2
34,производство электрического оборудования,36285.9,40992.0,43659.9,45693.0,51037.9,59094.6,72790.8
35,"производство машин и оборудования, не включенн...",37471.8,40036.0,44128.1,47499.0,53730.4,63377.4,74546.4
36,"производство автотранспортных средств, прицепо...",38133.4,42015.0,45378.3,46549.0,53235.8,58517.7,70376.3
37,производство прочих транспортных средств и обо...,44884.4,48033.0,51659.4,53524.0,59789.4,68310.8,83380.9
38,производство мебели,22188.1,24213.0,26888.3,27786.0,32224.2,36897.3,43042.3
39,производство прочих готовых изделий,27913.1,33214.0,35600.9,39825.0,45131.9,49937.6,56418.9
40,ремонт и монтаж машин и оборудования,41879.8,46167.0,49316.6,51789.0,60311.8,68760.3,77694.3
41,"обеспечение электрической энергией, газом и па...",44631.7,47482.0,50381.5,53157.0,57804.2,65452,74351.4
42,"водоснабжение; водоотведение, организация сбор...",29097.2,31586.0,34517.9,36347.0,40038.6,46075.4,52184.8
43,строительство,33677.9,38518.0,42629.9,44738.0,51944.2,60849.5,68944.4
44,торговля оптовая и розничная; ремонт автотранс...,32092.5,35444.0,40137.0,41867.0,50388.8,57806.1,63572.2
45,транспортировка и хранение,43966.8,47474.0,51160.2,52939.0,58391.3,66925.5,76041.2
46,деятельность гостиниц и предприятий общественн...,23970.5,26241.0,28191.4,27411.0,33224.7,37571.7,43191.8
47,деятельность в области информации и связи,58811.2,66590.0,75898.2,85648.0,97434.4,121262.4,130326.4
48,деятельность финансовая и страховая,84904,91070.0,103667.8,112680.0,130223.3,146637.1,169105.7
49,деятельность по операциям с недвижимым имуществом,30208.1,33101.0,36859.4,37628.0,43620.3,48531.3,54611.7
50,"деятельность профессиональная,научная и технич...",57178.8,66264.0,75192.8,80077.0,87329.4,100842.8,107052.4
51,из нее научные исследования и разработки,66177.9,75913.0,82286.9,84973.0,93278.5,108101.6,120393
52,деятельность административная и сопутствующие ...,27621.5,31706.0,34002.4,37090.0,39225.1,45067.3,49379.4
53,государственное управление и обеспечение военн...,43499.7,47803.0,50990.5,54496.0,58620.3,63505.2,73860.9
54,образование,30257.6,34361.0,37071.9,39563.0,43390.5,48400.2,54262.7
55,деятельность в области здравоохранения и социа...,31980.3,40027.0,43122.1,49532.0,50690.1,55419.6,61485.5
56,"деятельность в области культуры, спорта, орган...",38200.1,44439.0,46990.4,48445.0,53340.3,57490.6,64929.1
57,1) за 2017 г. информация публикуется по основн...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,2) без учета статистической информации по доне...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,3) предварительные данные.,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Выбираем крупные отрасли экономики, чьи наименования в кодах преимущественно сохранились, для соблюдения полной аутентичности нужно будет сравнивать коды и значения, и все равно будут ошибки

In [123]:
choosen_activity = ['добыча полезных ископаемых', 'обрабатывающие производства', 'строительство']
choosen_activity

['добыча полезных ископаемых', 'обрабатывающие производства', 'строительство']

#### Объединяем датафреймы с данными с 2000 по 2024 годы с отбором из списка выбранных экономических активностей, приведением регистра и очисткой от пробелов& Cразу же преобразуем годы из столбцов в колонки для удобства соединения с инфляцией

In [124]:
economy_df = (pd.merge(df_2016[df_2016['Вид деятельности'].str.lower().str.strip().isin(choosen_activity)],
                     df_2017[df_2017['Вид деятельности'].str.lower().str.strip().isin(choosen_activity)],
                     on='Вид деятельности')
                    .melt(id_vars='Вид деятельности', var_name='year', value_name='Средняя заработная плата')
                    )
economy_df

               Вид деятельности  year Средняя заработная плата
0    добыча полезных ископаемых  2000                   5940.2
1   обрабатывающие производства  2000                   2365.2
2                 строительство  2000                   2639.8
3    добыча полезных ископаемых  2001                   9099.2
4   обрабатывающие производства  2001                   3446.6
..                          ...   ...                      ...
67  обрабатывающие производства  2022                  60438.7
68                строительство  2022                  60849.5
69   добыча полезных ископаемых  2023                 130825.6
70  обрабатывающие производства  2023                  71273.3
71                строительство  2023                  68944.4

[72 rows x 3 columns]

#### Получаем данные об инфляции с 1991 года

#### C помощью модуля requests. Распарсеваем html текст как обычне строки в питоне: Ищем подстроку "yoyInflationList" и обрезаем данные до ее окончания.  Оставшиуюся строку обрезаем после первой закрывающей квадратной скобки ']' - это граница списка с данными об инфляции.  Строковое значение new Date() представляем как обычную строку.  Получившийся набор данные преобразуем в список словарей.

In [125]:
import requests

url = 'https://xn----ctbjnaatncev9av3a8f8b.xn--p1ai/%D1%82%D0%B0%D0%B1%D0%BB%D0%B8%D1%86%D1%8B-%D0%B8%D0%BD%D1%84%D0%BB%D1%8F%D1%86%D0%B8%D0%B8'
r = requests.get(url)
if r.status_code == 200:
  html_content = r.text
  inflation_start_line = html_content[html_content.find('yoyInflationList')+len('yoyInflationList":'):]
  inflation_line = inflation_start_line[:inflation_start_line.find(']')+1].replace('new Date(', '').replace(')', '')

  inflation_list = (eval(inflation_line))
else:
  print('No connection')
  exit(1)
inflation_list[:25]

[{'rate': 160.4015700014394, 'month': '1991-12-01T00:00:00.000Z'},
 {'rate': 746.6729013323637, 'month': '1992-01-01T00:00:00.000Z'},
 {'rate': 1014.8937059529217, 'month': '1992-02-01T00:00:00.000Z'},
 {'rate': 1262.414792128735, 'month': '1992-03-01T00:00:00.000Z'},
 {'rate': 914.1032428260982, 'month': '1992-04-01T00:00:00.000Z'},
 {'rate': 1001.7296395363144, 'month': '1992-05-01T00:00:00.000Z'},
 {'rate': 1196.6007911934294, 'month': '1992-06-01T00:00:00.000Z'},
 {'rate': 1325.4875497613646, 'month': '1992-07-01T00:00:00.000Z'},
 {'rate': 1440.377591085415, 'month': '1992-08-01T00:00:00.000Z'},
 {'rate': 1598.8338418004328, 'month': '1992-09-01T00:00:00.000Z'},
 {'rate': 1917.262600553364, 'month': '1992-10-01T00:00:00.000Z'},
 {'rate': 2235.875242697697, 'month': '1992-11-01T00:00:00.000Z'},
 {'rate': 2508.8454985348053, 'month': '1992-12-01T00:00:00.000Z'},
 {'rate': 850.45688883776, 'month': '1993-01-01T00:00:00.000Z'},
 {'rate': 758.8548843338309, 'month': '1993-02-01T00:00:00.000Z'},
 {'rate': 694.0605974479838, 'month': '1993-03-01T00:00:00.000Z'},
 {'rate': 674.4863838707944, 'month': '1993-04-01T00:00:00.000Z'},
 {'rate': 717.3980512523755, 'month': '1993-05-01T00:00:00.000Z'},
 {'rate': 722.8885503371941, 'month': '1993-06-01T00:00:00.000Z'},
 {'rate': 810.608767412018, 'month': '1993-07-01T00:00:00.000Z'},
 {'rate': 956.5074097045513, 'month': '1993-08-01T00:00:00.000Z'},
 {'rate': 1065.474541647173, 'month': '1993-09-01T00:00:00.000Z'},
 {'rate': 1033.231958721214, 'month': '1993-10-01T00:00:00.000Z'},
 {'rate': 945.9704018680578, 'month': '1993-11-01T00:00:00.000Z'},
 {'rate': 839.8695703686622, 'month': '1993-12-01T00:00:00.000Z'}]

#### Обрабатываем данные по инфляции. Из списка словарей необходимо отобрать данные на декабрь - это значение годовой инфляции, формируемого накопительным итогом. С помощью метода shift создаем новый аттрибут - значение инфляции за предыдущий год

In [126]:
year_inf = [{'year': record['month'][:4], 'inflation_rate': record['rate']} for record in inflation_list if record['month'][5:7] == '12']
inflation = pd.DataFrame(year_inf, columns=['year', 'inflation_rate'])
inflation['inflation_rate_previous_year'] = inflation['inflation_rate'].shift(1)
inflation

    year  inflation_rate  inflation_rate_previous_year
0   1991      160.401570                           NaN
1   1992     2508.845499                    160.401570
2   1993      839.869570                   2508.845499
3   1994      215.023387                    839.869570
4   1995      131.326486                    215.023387
5   1996       21.811804                    131.326486
6   1997       11.031946                     21.811804
7   1998       84.436312                     11.031946
8   1999       36.557559                     84.436312
9   2000       20.200244                     36.557559
10  2001       18.583726                     20.200244
11  2002       15.056018                     18.583726
12  2003       11.987855                     15.056018
13  2004       11.741230                     11.987855
14  2005       10.914979                     11.741230
15  2006        8.995778                     10.914979
16  2007       11.869258                      8.995778
17  2008       13.281658                     11.869258
18  2009        8.797004                     13.281658
19  2010        8.776659                      8.797004
20  2011        6.100638                      8.776659
21  2012        6.575650                      6.100638
22  2013        6.450196                      6.575650
23  2014       11.362345                      6.450196
24  2015       12.908165                     11.362345
25  2016        5.375142                     12.908165
26  2017        2.523063                      5.375142
27  2018        4.268995                      2.523063
28  2019        3.046190                      4.268995
29  2020        4.912471                      3.046190
30  2021        8.393015                      4.912471
31  2022       11.922836                      8.393015
32  2023        7.416701                     11.922836

### Объяединяем номинальную заработную плату по выбранным видам деятельности с значениями инфляции в один датафрейм

In [127]:
res = economy_df.merge(inflation, on='year')
res

,Вид деятельности,year,Средняя заработная плата,inflation_rate,inflation_rate_previous_year
0,добыча полезных ископаемых,2000,5940.2,20.200244,36.557559
1,обрабатывающие производства,2000,2365.2,20.200244,36.557559
2,строительство,2000,2639.8,20.200244,36.557559
3,добыча полезных ископаемых,2001,9099.2,18.583726,20.200244
4,обрабатывающие производства,2001,3446.6,18.583726,20.200244
...,...,...,...,...,...
67,обрабатывающие производства,2022,60438.7,11.922836,8.393015
68,строительство,2022,60849.5,11.922836,8.393015
69,добыча полезных ископаемых,2023,130825.6,7.416701,11.922836
70,обрабатывающие производства,2023,71273.3,7.416701,11.922836
71,строительство,2023,68944.4,7.416701,11.922836